extends layout

block append body
    .container.theme-showcase(role='main')
    h1= 'Bibliothèque'
    p Liste des livres
        table
            tr
                td Titre
                td Auteur
                td Details
            each livre in listeLivre
                tr
                    td= livre.titre
                    td= livre.auteur
                    td
                        a(href='/livre/'+livre.unId) Plus
