extends layout

block content
    .container.theme-showcase(role='main')
    h1= 'Bibliothèque'
    p Liste des livres
        each livre in listeLivre
                li= livre['titre'] + ' -> ' + livre['resume']